# ENV file for the scheduled-publish script
# Remove or comment out items not in use

# Environment variables for scheduled publish script
SCHEDULED_PUBLISH_CLIENT_DIR= # optional override for client directory, defaults to two levels
SCHEDULED_PUBLISH_S3_BUCKET=
SCHEDULED_PUBLISH_S3_PREFIX=
SCHEDULED_PUBLISH_CLOUDFRONT_DISTRIBUTION_ID=

# AWS access keys
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# Build configuration
RETENTION_DAYS=60 # how many days of dates to include in the static build

# Analytics
CLOUDFLARE_ANALYTICS_TOKEN= # optional

